* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Hanken Grotesk", sans-serif;
}
.container {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  border-radius: 5%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  width: 700px;
}
/* Left container */
.left-container {
  color: hsl(0, 0%, 100%);
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  flex: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
}

.result {
  margin: 20px;
}

.grade {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grade div {
  font-size: 16px;
  color: hsl(0, 0%, 100%, 0.5);
}

.great {
}

.info {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  color: hsl(0, 0%, 100%, 0.5);
}
.info div {
}
/* Right container */
.right-container {
  flex: 50%;
}

.summary {
  margin: 30px 20px;
}

.reaction {
  margin: 20px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  background-color: hsl(0, 100%, 67%, 0.1);
  border-radius: 10px;
}

.reaction-text {
  color: hsl(0, 100%, 67%);
}

.memory {
  margin: 20px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  background-color: hsl(39, 100%, 56%, 0.1);
  border-radius: 10px;
}

.memory-text {
  color: hsl(39, 100%, 56%);
}

.verbal {
  margin: 20px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  background-color: hsl(166, 100%, 37%, 0.1);
  border-radius: 10px;
}

.verbal-text {
  color: hsl(166, 100%, 37%);
}

.visual {
  margin: 20px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  background-color: hsl(234, 85%, 45%, 0.1);
  border-radius: 10px;
}

.visual-text {
  color: hsl(234, 85%, 45%);
}

.continue {
  margin: 30px 20px;
  padding: 15px;
  background-color: hsl(224, 30%, 27%);
  color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}
